*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    --background-color-all: beige;
    --section-margin: 2vh 0;
    --section-height: 30vh;

    background-color: var(--background-color-all);
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
}

header,
#content{
    width: min(90%, 1280px);
}

header{
    background-color: var(--background-color-all);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
}

#header-logo-container{
    display: flex;
    align-items: center;
    max-height: 10vh;
    padding: 1vh;
    gap: 8px;
}

#header-logo-container img{
    filter: invert(1);
    max-height: 9vh;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav button{
    padding: 12px 42px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}

nav button:hover{
    color: gray;
}

#content{
    background-color: var(--background-color-all);
}

.section{
    margin: var(--section-margin);
    min-height: var(--section-height);
    padding: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}


.left-column,
.centre-column,
.right-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    min-height: var(--section-height);
}

.section.first > .right-column{
    align-items: center;
}

#intro-image{
    max-height: var(--section-height);
    height: 100%;
    width: auto;
    border-radius: 12px;
}

h1{
    font-size: 2.9rem;
}

p{
    font-size: 1.2rem;
}

h1 + p{
    margin-top: 1.5vh;
}

p + p{
    margin-top: 1vh;
}

#hero{
    position: relative;
    max-height: 40vh;
    min-width: 100vw;
}

#hero img{
    max-height: 100%;
    width: 100%;
}

#hero-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
    height: 40%;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#hero-overlay > h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#hero + #content{
    padding-top: 2vh;
}

.triple-column-grid{
    margin: var(--section-margin);
    min-height: var(--section-height);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;

    gap: 20px;
}

.food-card{
    display: flex;
    flex-direction: column;
    gap: 8px;

        background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1vh;
}

.food-card h2{
    font-size: 2rem;
}

.food-card img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.food-card button{
    align-self: center;
    justify-self: center;

    padding: 6px 18px;
    font-size: 1.2rem;
    margin-top: 12px;
    border-radius: 12px;

    cursor: pointer;
}

.food-card button:hover{
    opacity: 0.8;
}

.food-card .price{
    margin-top: 16px;
    align-self: center;
    font-size: 1.5rem;
}